/*IDs y Clases Actividades*/

.trj-actividades {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.actividad {
    background-color: $color2;
    color:  $white;
    width: 500px;
    height: 100px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.txt-actividad {
    width: 60%;
    float: left;
    margin-bottom: 0.2em;
}

.img-actividad {
    height: 80%;
    float: right;
}