/*IDs y Clases Index*/

#historia {
    display: flex;
}

.portada {
    width: 700px;
    height: 400px;
    margin-left: 10px;
}

.conjunto-miniatura {
    margin-left: 10px;
}

.miniatura {
    width: 231px;
    height: 120px;
}