/*IDs y Clases Index*/

#historia {
    display: flex;
}

.portada {
    width: 700px;
    height: 400px;
    margin-left: 10px;
    transition: all .3seg;
}

.portada:hover{
    transform: scale(1.1);
}

.conjunto-miniatura {
    margin-left: 10px;
}

/*@-webkit-keyframes slide-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(-400px);
              transform: translateZ(-400px);
    }
  }
  @keyframes slide-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(-400px);
              transform: translateZ(-400px);
    }
  }*/
  

.miniatura1 {
    width: 231px;
    height: 120px;
	/*-webkit-animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;*/
    transform: rotateZ(10deg);
    transition: all .3seg;
}

.miniatura2 {
    width: 231px;
    height: 120px;
	/*-webkit-animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;*/
    transform: translate(0px, 20px);
    transition: all .3seg;
}

.miniatura3 {
    width: 231px;
    height: 120px;
 /*   -webkit-animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;*/
    transition: all .3seg;
    transform: rotateZ(-10deg);
}

.miniatura1:hover{
    transform: scale(1.1);
}

.miniatura2:hover{
    transform: scale(1.1);
}

.miniatura3:hover{
    transform: scale(1.1);
}

@media (max-width:920px) {

    .titulo {
        text-align: center;
    }

    #historia {
        display: block;
    }

    main {
        section {
            .texto {
                width: 80%;
                text-align: center;
                align-items: center;
                margin: auto;
                font-size: large;
            }
        }
    }

    .imagenes-index {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .portada {
        width: 80%;
        height: 80%;
        margin-left: 0px;
        transform: scale(1);
    }

    .conjunto-miniatura {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .miniatura1 {
        margin-bottom: 3px;
        margin-left: 0px;
        transform: translate(0px, 0px);
        transform: scale(1);
    }

    .miniatura2 {
        margin-bottom: 3px;
        margin-left: 0px;
        transform: translate(0px, 0px);
        transform: scale(1);
    }

    .miniatura3 {
        margin-bottom: 3px;
        margin-left: 0px;
        transform: translate(0px, 0px);
        transform: scale(1);
    }
}